<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-4">
                <div id="login-box" class="col-12">
                    <form class="form" [formGroup]="formLogin">
                        <h3 class="text-center text-success">Login</h3>
                        <div class="form-group">
                            <label for="pin" class="text-success">Pin:</label>
                            <input type="text" id="pin" class="form-control" formControlName="userPin">
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Login" class="btn btn-info btn-md" (click)="onLogin()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>